<div class="contents row">
  <% @recipes.each do |recipe| %>
    <div class="content_post" >
    <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
        <li>
            <%= link_to '詳細', recipe_path(recipe.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == recipe.user_id %>
        <li>
            <%= link_to '編集', edit_recipe_path(recipe.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', recipe_path(recipe.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
    <%= image_tag recipe.image, class: 'recipe-image' %>
      <p><%= recipe.title %></p>
      <span class="name">
        <a href="/users/<%= recipe.user.id %>">
          <span>投稿者</span><%= recipe.user.name %>
        </a>
      </span>
    </div>
  <% end %>
</div>